body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%;
}

span.strikethrough {
    text-decoration: line-through
}

.non-alternate {
    background-color: #fafafa;
}

.alternate {
    background-color: #d9edf7;
}

.navbar {
    margin-bottom: 0;
}