@model ServiceBusDashboard.Code.SbConnectionString[]

<div class="container-fluid">
    <a href="/Home/ReloadList" class="btn btn-primary float-right mt-3">Reload list</a>
    <h1>Service Bus List</h1>

    <div class="row">
        <div class="col-sm-8 offset-sm-2">
            <div class="row">
                @if (Model == null || Model.Length <= 0)
                {
                    <div>
                        No connection string found!
                    </div>
                }
                else
                {
                    foreach (var connectionString in Model)
                    {
                        <div class="col-sm-4"><a href="/Home/ServiceBus?name=@connectionString.Name" class="btn btn-info mb-2 btn-block">@connectionString.Name</a></div>
                    }
                }
            </div>
        </div>
    </div>
</div>
