@model ServiceBusDashboard.Code.SbConnectionString

<div class="container-fluid" id="container">
    <div class="pt-4">Loading...</div>
</div>
@section scripts {
    <script type="text/javascript">
        var refreshed = null;
        var createdTimeout = null;
        $(function() {
            setInterval(() => { updateStatus(); }, 500);
            getDashboard();
        });

        function next() {
            if (createdTimeout !== null) {
                clearTimeout(createdTimeout);
            }

            @if (Config.RefreshEvery >= 0)
            {
                var miliSeconds = Config.RefreshEvery * 1000;
                <text>
                    createdTimeout = setTimeout(() => { getDashboard(); }, @miliSeconds);
                </text>
            }
        }

        function updateStatus() {
            if (refreshed !== null) {
                var diff = moment().seconds(moment().diff(refreshed, 'seconds'));
                $('#status').html("Refreshed: " + (diff.format('s [seconds ago]')));
            }
        }

        function getDashboard() {
            if (createdTimeout !== null) {
                clearTimeout(createdTimeout);
            }

            refreshed = null;
            $('#status').html("Refreshing...");

            $.get('/dashboard/@Model.Name')
                .done(function(data, textStatus, jqXhr) {
                    refreshed = moment();
                    $('#container').html(data);
                    updateStatus();
                    next();
                })
                .fail(function(jqXhr, textStatus, errorThrown) {
                    $('#container').html("Error: " + errorThrown);
                });
        }
    </script>
}
